<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="body_test">

  <link name="base_link"/>

  <joint name="test_body_base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="test_body_base_link"/>
  </joint>

  <link name="test_body_base_link">

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!--[[[cog
        import cog

        cog.outl('<mesh filename="file://{0}" scale="0.001 0.001 0.001"/>'.format(FILENAME))
        ]]]-->
        <!--[[[end]]]-->
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://hexapod_description/meshes/body.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>

  </link>

</robot>
