<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="hexapod_leg_transmission" params="name">

    <transmission name="${name}_leg_trans_0">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_leg_joint_0">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_leg_motor_0">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_leg_trans_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_leg_joint_1">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_leg_motor_1">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_leg_trans_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_leg_joint_2">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_leg_motor_2">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>