<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="hexapod_leg_gazebo" params="name">

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/${name}_leg</robotNamespace>
      </plugin>
    </gazebo>
    
    <gazebo reference="${name}_leg_base_link">
      <gravity>true</gravity>
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_leg_link_0">
      <gravity>true</gravity>
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_leg_link_1">
      <gravity>true</gravity>
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_leg_link_2">
      <gravity>true</gravity>
      <selfCollide>true</selfCollide>
    </gazebo>

  </xacro:macro>

</robot>